
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="" ><img src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/logo.png?1688630469540" width="122" height="60" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link fs-5 fw-bodlder" routerLink="/admin/product" >DANH MỤC</a></li>
                <li class="nav-item"><a class="nav-link fs-5 fw-normal" href="">USER</a></li>
                <li class="nav-item"><a class="nav-link fs-5 fw-normal" href="">THỐNG KÊ</a></li>
                <li class="nav-item"><a class="nav-link fs-5 fw-normal" href="">BÌNH LUẬN</a></li>
                <li class="nav-item"><a class="nav-link fs-5 fw-normal" href=""></a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <router-outlet/>
</main>
