
<div class="text-center">
  <a href="https://imgur.com/qxB7qsx"><img src="https://i.imgur.com/qxB7qsx.jpg" width="1200" title="source: imgur.com" /></a>
</div>
  <div class="border w-50 mx-auto rounded-4">
    <form (ngSubmit)="onHandleSubmit()" class="px-4 form-group" [formGroup]="productForm">
      <p class="fw-bolder" >Name Product</p>
      <input type="text" formControlName="name" class="form-control" />
      <p class="fw-bolder">Price</p>
      <input type="number" formControlName="price" class="form-control" />
      <p class="fw-bolder">Image</p>
      <input type="file" formControlName="imageUrl" class="form-control" (change)="onFileSelected($event)" />
      <img [src]="productForm.get('imageUrl')?.value" width="300" height="300" />
      <p class="fw-bolder">Description</p>
      <input type="text" formControlName="desc" class="form-control" />
        <br />
      <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Submit</button>
    </form>

  </div>